/* Webfont: ProductSans-Italic */@font-face {
    font-family: 'ProductSans';
    src: url('Product Sans Italic.woff2') format('woff2'), /* Modern Browsers */
         url('Product Sans Italic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

